<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Drum kit in Vue.js</title>
    <script src="vue.js"></script>

    <style media="screen">
      .units {
        color: red;
        display: inline-block;
      }
    </style>

  </head>
  <body>

    <div id="boxes">
      <div v-for="el in letters">
        {{el.text}}
      </div>

      <unit v-for="el in letters" :letter="el" :key="el.id" class="units"></unit>
    </div>




    <script>

      Vue.component("unit", {
        props: ["letter"],
        template: "<div>{{letter.text}}</div>"
      });

      new Vue({
        el: "#boxes",
        data: {
          letters: [
            {
              text: "A",
              dataKey: 65,
              sound: "clap"
            },
            {
              text: "S",
              dataKey: "83",
              sound: "hihat"
            },
            {
              text: "D",
              dataKey: 68,
              sound: "kick"
            },
            {
              text: "F",
              dataKey: 70,
              sound: "openhat"
            },
            {
              text: "G",
              dataKey: 71,
              sound: "boom"
            },
            {
              text: "H",
              dataKey: 72,
              sound: "ride"
            },
            {
              text: "J",
              dataKey: 74,
              sound: "snare"
            },
            {
              text: "K",
              dataKey: 75,
              sound: "tom"
            },
            {
              text: "L",
              dataKey: 76,
              sound: "tink"
            }
          ]
        }

      });
    </script>

  </body>
</html>
